.desconto {
    background-color: #1cd1b0;
    width: 100%;
    height: 30px;
}

.super_heróis {
    background-color: #00669f;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 4px 4px 12px #000000;
-moz-box-shadow: 4px 4px 12px #000000;
box-shadow: 4px 4px 12px #000000;
}

.mae {
    height: 1000px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.897);
    display: block;
}

* {
    margin: 0%;
}

.secão{
    display:flex;
}

.cards {

    width: 30%;
    background-color: rgb(240, 255, 27);
    display: grid;
    border: solid;
    height: 500px;
    left: 20%;
    position: relative;
    bottom: -150px;
    margin: 1%;
}

.capa {
    height: 165px;
    width: 100%;
    background-color: rgb(27, 255, 76);
    border-radius: 50px 50px 0px 0px;
}

.foto {
    height: 95px;
    width: 25%;
    border-radius: 100px;
    background-color: rgb(42, 27, 255);
    bottom: 285px;
    margin-right: auto;
    margin-left: auto;

}

.descri {
    height: 165px;
    width: 100%;
    background-color: rgb(190, 27, 255);
}







.rodape{
   height: 30px;
   width: 100%;
    background-color: #008d9fec;
    
}

.rodape p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}