@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}
header{
    min-width: 425px;
    max-width: 1280px;
    display:block;
    min-height: 150px;
    margin:0px;
}
main{
    background-color:#000000;
    min-width: 425px;
    max-width: 1280px;
    display: flex;
    margin: auto;
}
header img{
    width: 100%;
}
.con_pai{
    width: 100%;
    height: 20%;
    padding:12px;
    background-color: rgba(143, 155, 154, 0.336);
        overflow: hidden;
        box-sizing:border-box;
    position: absolute;
    border: #000000 solid;
    display:flex;
    flex:1 1 200px;
    flex-wrap:wrap;
    justify-content: flex-end;
    gap: 10px;
}
.logo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 40px;
    top: 25px;
    
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 36px;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    border: black solid;
}
.home {
width: 100px;
height: 52px;
top: 15px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 36px;
text-align: center;
}
.curiosidades {
    
width: 147px;
height: 52px;
top: 15px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 36px;
text-align: center;
}
.video {
    
width: 100px;
height: 52px;
top: 15px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 36px;
text-align: center;
}
.img{
    position: absolute;
width: 80vw;
height: 532px;
left: 10vw;
top: 213px;

align-items: center;
border: solid 9px;
background: #9B9B9B;
}
.cards{
    position: relative;
    background-color: azure;
    padding: 0%;
    margin: auto;
    display: flex; 
    justify-content: center;
    display:flex;
    flex:1 1 200px;
    flex-wrap:wrap;
    justify-content: flex-end;
}
.card1{
    position: absolute;
width: 335px;
height: 634px;
left: 123px;
top: 922px;
align-items: center;
flex-direction: column;
background: #C4C4C4;
border-radius: 31px;
}
.card2{
    position: absolute;
width: 335px;
height: 634px;
left: 494px;
top: 922px;
align-items: center;
flex-direction: column;
background: #C4C4C4;
border-radius: 31px;
}
.card3{
    position: absolute;
width: 335px;
height: 634px;
left: 865px;
top: 922px;

background: #C4C4C4;
border-radius: 31px;
}
.seção h3{
    position: absolute;
width: 380px;
height: 42px;
left: 123px;
top: 843px;

font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #000000;

}
.video2{
    position: absolute;
width: 81%;
height: 534px;
left: 123px;
top: 1675px;
display:flex;
overflow: hidden;


background: #C4C4C4;
border-radius: 31px;
-webkit-box-shadow: 0px 0px 50px #000000;
-moz-box-shadow: 0px 0px 50px #000000;
box-shadow: 0px 0px 50px #000000;
}
.section2 h3{
    position: absolute;
width: 92px;
height: 42px;
left: 123px;
top: 1596px;

font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #000000;

}
.card4{
    position: relative;
width: 100%;
height: 114px;
top:2160px;

background-color: #C4C4C4;
border: #000000 solid;

}
.img img{
    position: absolute;
    width: 100%;
height: 100%;
background-position: center;
}
.topo{
    height: 200px;
    width: 335px;
    border-radius: 31px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/moldura.jpg);
    bottom: 285px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 3px black;
    background-position: center;
}
.descrição{
    height: 439px;
    width: 335px;
    border-radius: 31px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-size:contain;
    background-position: center;
    background-color: antiquewhite;
    border:solid 3px black;
    position: absolute;
    top: 197px;
    left: 0px;
}
.descrição p{
    width: 323px;
    height: 10px;
    text-align: center;
    justify-content: center;
    position: absolute;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt h3{
    position: absolute;
    width: 92px;
    height: 42px;
    left: 105px;
    top: 76px;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
}
.topo2{
    height: 200px;
    width: 335px;
    border-radius: 31px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/moldura.jpg);
    bottom: 285px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 3px black;
    background-position: center;
}
.topo2 h3{
    position: absolute;
    width: 92px;
    height: 42px;
    left: 120px;
    top: 76px;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
}
.descrição2{
    height: 439px;
    width: 335px;
    border-radius: 31px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-size:contain;
    background-position: center;
    background-color: antiquewhite;
    border:solid 3px black;
    position: absolute;
    top:  197px;
    left: 0px;
}
.descrição2 p{
    width: 323px;
    height: 10px;
    text-align: center;
    justify-content: center;
    position: absolute;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}
.topo3{
    height: 200px;
    width: 335px;
    border-radius: 31px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../img/moldura.jpg);
    bottom: 285px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 3px black;
    background-position: center;
}
.topo3 h3{
    position: absolute;
    width: 92px;
    height: 42px;
    left: 70px;
    top: 76px;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
}
.descrição3{
    height: 439px;
    width: 335px;
    border-radius: 31px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-size:contain;
    background-position: center;
    background-color: antiquewhite;
    border:solid 3px black;
    position: absolute;
    top:  197px;
    left: 0px;
}
 .descrição3 p{
    font-family: 'Roboto Condensed', sans-serif;
}
.home p{
    margin:15px;
   font-family: 'Josefin Sans', sans-serif;
}
.curiosidades p{
    margin: 15px;
   font-family: 'Josefin Sans', sans-serif;
}
.video p{
    margin: 15px;
   font-family: 'Josefin Sans', sans-serif;
}
.txt2 h3{
    font-family: 'Roboto Condensed', sans-serif;
}
.butoom{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 40px;
    top: 2000px;
    
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 36px;
}
.buttom img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}
